# TODO: Portfolio Class

This Portfolio class provides the a basic interface to interact with the Technical Analysis data of a set of symbols. It contains a set of *Symbol* objects and provides a similar set functionalities to the Symbol class:
<ul>   
    <li> Loading and saving the raw candlestick data from different sources (.csv, SQL..).</li>
    <li> Handling the data updating, missing data, separating trading sessions...</li>
    <li> Technical Analysis indicators</li>
    <li> Common plots.</li>
</ul>    

In adition, it also provides a set of functionalities for portfolio analysis.

### Import libraries

In [1]:
import sys
import datetime as dt
import pandas as pd
from IPython.display import Image
%matplotlib qt 

sys.path.insert(0,"..") # Adds higher directory to python modules path.

from traphing.data_classes import Velas, Symbol, Portfolio
from traphing.utils import Timeframes, unwrap
from traphing.graph.Gl import gl

## Creating a Symbol instance

When we create a Symbol object, we need to specify the basic parameters of the symbol data:
 - <b>symbol_name</b>: The name of the symbol given by the broker we are using (it can be different from broker to broker)
 -  <b>timeframes_list</b>: A list with the different timeframes of the candlesticks we want to include.

No candlestick data is loaded when creating the object.

In [2]:
symbol_name = "AUDCHF"
timeframes_list = [Timeframes.M15, Timeframes.D1]
symbol = Symbol(symbol_name, timeframes_list)

print (type(symbol))

<class 'traphing.data_classes._Symbol._Symbol.Symbol'>

The velas objects are initialized with no candlestick data. They are stored in an internal dictionary where the key is the timeframe and the value is the Velas. This implementation should be transparent to the usage of the Symbol class. 

We can identify the velas objects inside the Symbol instance by their timeframe. We can get the current timeframes in the Symbol object by means of the attribute *timeframes_list* which has been modify using a *getter* to compute the list dinamically when accessed.

We can use the symbol object as a dictionary to get the velas objects.

In [3]:
symbol.timeframes_list

In [4]:
symbol[Timeframes.M15]

### Adding and removing velas

We can easily add, and delete velas inside the object using the following methods.

In [5]:
symbol.add_velas(Timeframes.M5, None)
print (symbol.timeframes_list)

[<Timeframes.M15: 15>, <Timeframes.D1: 1440>, <Timeframes.M5: 5>]

In [6]:
symbol.del_velas(Timeframes.M5)
print (symbol.timeframes_list)

[<Timeframes.M15: 15>, <Timeframes.D1: 1440>]

## Loading the data from .csv

The Symbol class makes it easy to load the candlestick data for all the timeframes at once. It has the same loading functions as the Velas class, which internally call the same function for all of its Velas objects.

In [7]:
storage_folder = "../tests/data/storage/"
symbol.load_data_from_csv(storage_folder)

Size ../tests/data/storage/M15/AUDCHF_M15.csv:  100400  rows
Size ../tests/data/storage/D1/AUDCHF_D1.csv:  4894  rows

## Set interval

We can set the time interval directly to the symbol object using the same interface as the one for Velas. The interval applied to the *Symbol* is applied to all of its Velas objects.

In [8]:
start_time = dt.datetime(2019,7,20)
end_time = dt.datetime(2019,8,20)

symbol.set_time_interval(start_time, end_time, trim = False)

In [9]:
symbol[Timeframes.M15].df.head(5)

                        Open     High      Low    Close  Volume
Timestamp
2019-07-22 00:00:00  0.69208  0.69241  0.69173  0.69213    58.0
2019-07-22 00:15:00  0.69208  0.69240  0.69124  0.69203   187.0
2019-07-22 00:30:00  0.69209  0.69253  0.69167  0.69171   411.0
2019-07-22 00:45:00  0.69199  0.69232  0.69143  0.69185   182.0
2019-07-22 01:00:00  0.69209  0.69222  0.69142  0.69153   267.0

In [10]:
symbol[Timeframes.D1].df.head(5)

               Open     High      Low    Close   Volume
Timestamp
2019-07-22  0.69208  0.69299  0.69035  0.69067  45803.0
2019-07-23  0.69067  0.69213  0.68852  0.68991  52588.0
2019-07-24  0.68991  0.69014  0.68677  0.68678  54249.0
2019-07-25  0.68680  0.69041  0.68601  0.68844  67797.0
2019-07-26  0.68854  0.68894  0.68565  0.68609  48966.0

## Symbol information

There is a set of information that we need from the symbol.

This information is currently obtained from the MT5, storing it in a csv file with name: 
- Symbol_info.csv

In [11]:
symbols_info = Symbol.load_symbols_info_from_csv(storage_folder)
symbols_info

    Unnamed: 0  Symbol  PointSize  MinTickValue  ContractSize Currency
0            0  GBPUSD    0.00001      1.000000      100000.0      GBP
1            1  USDCHF    0.00001      1.008837      100000.0      USD
2            2  USDJPY    0.00100      0.940071      100000.0      USD
3            3  USDCNH    0.00001      0.139513      100000.0      USD
4            4  USDRUB    0.00001      0.015012      100000.0      USD
..         ...     ...        ...           ...           ...      ...
58          58  NZDCHF    0.00001      1.008837      100000.0      NZD
59          59  NZDJPY    0.00100      0.940071      100000.0      NZD
60          60  NZDSGD    0.00001      0.719984      100000.0      NZD
61          61  SGDJPY    0.00100      0.940071      100000.0      SGD
62          62  USDGEL    0.00010      3.729673      100000.0      USD

[63 rows x 6 columns]

## Unwrapping the object

The following shows the unwrap of a Velas object. In it, you can appreciate that:
 - The start and end time of the interval are not stored at symbol level, just at velas level. This allows different timesticks to have different intervals.
 - The properties object contains all of the static information regarding the symbol, except for the market hours.
 - The MarketHours object contains the information about open market hours

In [12]:
unwrap(symbol, "symbol")

<Symbol>	symbol has children:
    <str>	symbol_name:	AUDCHF
    <dict>	_velas_dict
    <SymbolProperties>	properties
    <NoneType>	market_hours:	None

  <SymbolProperties>	properties has children:
      <str>	symbol_name:	AUDCHF
      <NoneType>	type:	None
      <NoneType>	country:	None
      <NoneType>	currency:	None
      <NoneType>	sector:	None
      <NoneType>	contract_size:	None
      <NoneType>	point_size:	None
      <NoneType>	min_tick_value:	None

  <dict>	_velas_dict has children:
      <Velas>	Timeframes.M15
      <Velas>	Timeframes.D1

    <Velas>	Timeframes.D1 has children:
        <str>	symbol_name:	AUDCHF
        <Timeframes>	timeframe:	Timeframes.D1
        <Timestamp>	start_time:	2019-07-20 00:00:00
        <Timestamp>	end_time:	2019-08-20 00:00:00
        <ndarray>	_time_mask:	[4864 4865 4866 4867 4868 4869 4870 4871
        <DataFrame>	_df
        <bool>	_trimmed:	False

      <DataFrame>	_df has children:
          <str>	columns:	['Open', 'High', 'Low', 'Close', 'Volume
          <DatetimeIndex>	index:	DatetimeIndex(['2000-06-29', '2000-06-30

    <Velas>	Timeframes.M15 has children:
        <str>	symbol_name:	AUDCHF
        <Timeframes>	timeframe:	Timeframes.M15
        <Timestamp>	start_time:	2019-07-20 00:00:00
        <Timestamp>	end_time:	2019-08-20 00:00:00
        <ndarray>	_time_mask:	[97532 97533 97534 ... 99641 99642 99643
        <DataFrame>	_df
        <bool>	_trimmed:	False

      <DataFrame>	_df has children:
          <str>	columns:	['Open', 'High', 'Low', 'Close', 'Volume
          <DatetimeIndex>	index:	DatetimeIndex(['2015-08-14 23:45:00', '2

## Indicators

The Symbol class only implements indicators that need several candlestick data at timeframes to be computed. In order to obtain indicators for a given timeframe, use the Velas objects directly. 

NO INDICATORS IMPLEMENTED SO FAR

The interface for accessing

## Plottings

Like with the indicators, we only implement plotting functions that require different timeframes.

NO IMPLEMENTATION SO FAR